.container-coffee{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#coffee-img{
    width: 500px;
}

#coffee-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#coffee-list > p {
    font-size: 1rem;
}

#coffee-list > h1 {
    font-size: 2rem;
}

.underline{
    font-size: 2rem !important;
}

@media (max-width: 390px){
    #coffee-img{
        margin: 0;
        padding: 40px;
    }

    .container-coffee{
     justify-content: center;
        height: 650px !important;
    }

    #coffee-list > h1{
        font-size: 1rem !important;
    } 
    #coffee-list > p{
        font-size: 0.8rem !important;
    }
}

@media (max-width: 650px){
    #coffee-img{
        width: 400px;
        margin: 0;
        position: sticky;
        top: 0;
    }

    #coffee-list > p {
        font-size: 0.9rem;
        margin: 0;
    }

    #coffee-list > h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 1350px){
    .container-coffee{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 900px;
    }
}