.container-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 900px;
  background-image: url("assets/chair2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  text-align: center;
  position: relative;
}

.button-feedback {
  width: 130px;
  background-color: #bf9e87;
  border-color: white;
  color: azure;
  cursor: pointer;
  margin-bottom: 20px;
}

@media (max-width: 390px) {
  .h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .container-feedback p {
    font-size: 1.5rem;
    text-align: center;
    background: black;
    border-radius: 15px;
    padding: 5px;
    background: #efae58;
  }
  svg{
    position: relative;
    top: 1px !important;
  }
}

.alert {
  display: none;
}
.alert.show {
  display: block;
}

.svg-overlay2{
  position: absolute;
  top: -0.4px; 
  width: 100%; 
  
  z-index: 2; 
}