/* 
@font-face {
    font-family: "MyCustomFont";
    src: url('file:///Users/mario/bootcamp/gines18.github.io/Fonts/Cobane.otf') format('opentype');
  } */
  
  @font-face {
    font-family: "MyCustomFont2";
    src: url('file:///Users/mario/bootcamp/gines18.github.io/Fonts/Amoitar.otf') format('opentype');
  }

.container-main-pic{
    display: flex;
    justify-content: center;
}

#woman{
    width: 500px;
    margin: 0;
}

.br{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
    font-family: "MyCustomFont2";
    
}



