.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;

}

@media only screen and (max-width: 991px){
    .container{
        flex-direction: column;
    }
    img{
        width: 200px;
    }
    
}

ul li{
    list-style-type: none;
   
   
}

ul {
    display: flex;
    width: 400px;
    border: 1px solid red;
    
 
}

li{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.navbar-list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}


@media only screen and (max-width: 390px){
    .navbar-list ul{
        justify-content: space-around;
        font-size: 1.2rem;
    }
}