@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Cormorant+Garamond:ital,wght@1,600&family=Lato:wght@300&family=Quicksand:wght@300&display=swap');


.digital-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.offer-img{
    width: 300px;
}

@media only screen and (max-width: 390px){
    .digital-container{
flex-direction: column;
    }
}

p{
    width: 300px;
    text-align: left;
    font-family: 'Assistant', sans-serif;
    font-size: 1.4rem;
}