

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Lato:wght@300&family=Quicksand:wght@300&display=swap');

.welcome{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
 
    margin-top: 50px;
    margin-bottom: 50px;
}


h1{
    width: 700px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 390px){
    h1{
        font-size: 1.3rem;
        margin: 20px;
    }
}
@media (max-width: 650px){
    h1{
        
        margin: 40px;
    }
}

span{
    color:rgba(255,152,1,255);
}


#red{
    color: red;
}

#green{
      color: green;
}

#blue{   
    color:blue;
}
#black{   
    color: black;
}



#violet1{
    color: #643bb5;
}
#grey{   
    color:grey;
}
#lime{   
    color:lime;
}
#violet{   
    color:violet;
}
#green{   
    color:green;
}

